<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Radio</title>
    <link rel="stylesheet" href="/static/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="script" href="/static/bootstrap-4.4.1-dist/js/bootstrap.min.js">
</head>
<body>
    <p>This is a radio.</p>
    <img alt="image" src="https://img.etimg.com/thumb/msid-71477539,width-650,imgsize-622277,,resizemode-4,quality-100/music_thinkstockphotos.jpg">
    <br>
    <br>
    <br>
    <a href="#" class="previous">&laquo; Previous</a>

    <button class='button'></button>

    <a href="#" class="next">Next &raquo;</a>




</body>
</html>